/backend
/firebase
/frontend
/instance
/you, as The best of the DevSecOps i.txt
/.env
/.gradio
/flask-example

# Ignore the FingerGAN_25850831.tar file
MainWebapp/LatentsEnhancement/trained_model/FingerGAN_25850831.tar

MainWebapp/LatentEnhancement/trained_model/FingerGAN_25850831.tar