<!DOCTYPE html>
<html lang="en">
<head>
    <title>Check Enrollment</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Check Enrollment Data</h1>
    <ul>
        {% for enrollment in enrollments %}
            <li>
                <a href="{{ url_for('view_enrollment', user_id=enrollment.user_id) }}">{{ enrollment.user_id }} - {{ enrollment.firstname }} {{ enrollment.lastname }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('main_page') }}">Back to Main Page</a>
</body>
</html>