<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <p>User ID: {{ user_id }}</p>
    <p>Username: {{ username }}</p>
    <p>Role: {{ role }}</p>
    {% if role in ["Citizen", "Police and Investigator"] %}
        <a href="{{ url_for('enrollment') }}">Go to Enrollment Page</a>
    {% endif %}
    {% if role == "Police and Investigator" %}
        <a href="{{ url_for('check_enrollment') }}">Check Enrollment Data</a>
    {% endif %}
    {% if role == "Forensic Expertise" %}
        <a href="{{ url_for('forensic') }}">Go to Forensic Page</a>
    {% endif %}
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>